body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1a202c;
  text-align: left;
  /* background-color: #e2e8f0; */
  background-color: #201e2b;
}

/* Navbar Start */
nav {
  max-width: 400px;
  margin-bottom: 5rem;
  margin-top: 2rem;
}

nav .nav-top h2 {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 3rem;
  line-height: 48px;
  color: #fff;
}

nav .nav-top h5 {
  font-family: "Inter";
  font-weight: 300;
  font-size: 2rem;
  line-height: 38px;
  color: #4cc1c9;
}

nav .nav-bottom h6 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #4cc1c9;
}

nav .nav-bottom p {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

/* Navbar End */

.card-left {
  background-color: #201e2b !important;
}

.pricing-container {
  max-width: 1620px;
}

.card-header h4 {
  color: #51617c;
  font-family: "Inter";
  font-weight: 700;
  font-size: 1.25rem;
}

.card-header h6 {
  color: #51617c;
  font-family: "Inter";
  font-weight: 600;
  font-size: 14px;
}

.card-header .span {
  color: #156cfe;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
}

.card-header p {
  color: #51617c;
  font-family: "Inter";
  font-weight: 500;
  font-size: 12px;
  line-height: 15.6px;
}

.card-header a {
  text-decoration: none;
  color: #1dc8e9;
  font-family: "Inter";
  font-weight: 500;
  font-size: 12px;
}

.card-header:first-child {
  border-radius: 0.25rem 0.25rem 0 0;
}

.card-body ul li {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: left !important;
  padding: 8px;
}

.card-body ul li svg {
  overflow: hidden;
  vertical-align: middle;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #1463e9;
  color: #fff;
  padding: 1px;
}

.p-3 {
  padding: 1rem !important;
}
.align-items-start {
  align-items: flex-start !important;
}
.flex-column {
  flex-direction: column !important;
}
.border-bottom {
  border-bottom: 1px solid #cbd5e0 !important;
}
.card-footer,
.card-header {
  display: flex;
  align-items: center;
}
.left-card-header {
  background-color: #201e2b !important;
  margin-top: -3rem;
}
.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0 solid rgba(0, 0, 0, 0.125);
}
.card-footer:last-child {
  border-radius: 0 0 0.25rem 0.25rem;
}
.h3,
h3 {
  font-size: 1.75rem;
}
.p-3 {
  padding: 1rem !important;
}
.justify-content-center {
  justify-content: center !important;
}
.card-footer,
.card-header {
  display: flex;
  align-items: center;
}
.card-footer {
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-top: 0 solid rgba(0, 0, 0, 0.125);
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

/* Upgrade Button */

.upgrade-butoon {
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.upgrade-butoon:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

/*  */
.card-header .leftside-title {
  font-family: "Inter";
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 53px;

  background-image: linear-gradient(60deg, #2ed5fa, #cfdc3c);
  background-clip: text;
  color: transparent;
}

.card-header .leftside-sub-title {
  font-family: "Inter";
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 41px;
  color: #498dff;
}

.section-one {
  padding: 1rem;
  background-color: #342f4f;
}

.section-one h5 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  color: #fff;
}

.section-one h6 {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  border-bottom: 1px solid #eee;
  padding: 0.25rem;
}

.section-two {
  padding: 1rem;
}

.section-two h5 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  color: #fff;
}

.section-two h6 {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  border-bottom: 1px solid #eee;
  padding: 0.25rem;
}

.section-three {
  padding: 1rem;
}

.section-three h5 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  color: #fff;
}

.section-three h6 {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  border-bottom: 1px solid #eee;
  padding: 0.25rem;
}
.ul-styles {
  margin-bottom: 4.25rem !important;
}
